{% block extrahead %}
    <!-- Load in jQuery and HighCharts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

<style type="text/css">
    body {
        background-color: #eee;
        color: #000;
        font: 12px sans-serif;
        margin: 20px;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
</style>

{% block content %}
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dates</button>
        <div id="myDropdown" class="dropdown-content">
            {% for item in municipality_code %}
                <a href="/home/choroplethdetail/{{ item }}/" target="iframe1">{{ item }}</a></td>
            {% endfor %}
        </div>
    </div>

    <div id="nav">
    <iframe name="iframe1" id="link" width="700" height="500" style="border: none"></iframe>
    </div>
{% endblock %}

{% block extrajs %}
    <!-- Maps the Python template context variables from views.py to the Highchart js variables -->
    <script>
        var chart_id = {{ chartID|safe }}
        var chart = {{ chart|safe }}
        var title = {{ print_locations }}
        var xAxis = {{ xAxis|safe }}
        var yAxis = {{ yAxis|safe }}
        var series = {{ series|safe }}
    </script>

    <!-- Highchart js. Variable map shown above -->
    <script>
        $(document).ready(function() {
            $(chart_id).highcharts({
                chart: chart,
                title: title,
                xAxis: xAxis,
                yAxis: yAxis,
                series: series
            });
        });
    </script>

    <!-- Dropdown js.  -->
    <script>
        /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                }
            }
        }
    }
    </script>
{% endblock %}