{% block extrahead %}
    <!-- Load in jQuery and HighCharts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
    <h2 align="center">Zika information of {{ print_locations }}</h2>

    <div id={{ chartID|safe }} class="chart" style="height:100px; width:100%"></div>
{% endblock %}

{% block extrajs %}
    <!-- Maps the Python template context variables from views.py to the Highchart js variables -->
    <script>
        var chart_id = {{ chartID|safe }}
        var chart = {{ chart|safe }}
        var title = {{ title|safe }}
        var xAxis = {{ xAxis|safe }}
        var yAxis = {{ yAxis|safe }}
        var series = {{ series|safe }}
    </script>
    <!-- Highchart js. Variable map shown above -->
    <script>
        $(document).ready(function() {
            $(chart_id).highcharts({
                chart: chart,
                title: title,
                xAxis: xAxis,
                yAxis: yAxis,
                series: series
            });
        });
    </script>
{% endblock %}