<!--link href="main.css" type="text/css" rel="stylesheet"-->

<style type="text/css">
    th, td { padding: 7px 10px 10px 10px; }
    th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

    tr:nth-child(even){
    background-color: #efefef;
}

    tr:hover{
    background-color: #c3e6e5;
}
</style>

{% if query_results_c1 %}
    <table>
        <tr>
            <th><strong>Report_date</strong></th>
            <th><strong>Location</strong></th>
            <th><strong>Data_type</strong></th>
            <th><strong>Value</strong></th>
        </tr>
        {% for item in query_results_c1 %}
        <tr>
            <td>{{ item.report_date }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.data_type }}</td>
            <td align="center">{{ item.value }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p padding="10"> No data for CO0001. </p>
{% endif %}

{% if query_results_c2 %}
    <table>
        <tr>
            <th><strong>Report_date</strong></th>
            <th><strong>Location</strong></th>
            <th><strong>Data_type</strong></th>
            <th><strong>Value</strong></th>
        </tr>
        {% for item in query_results_c2 %}
        <tr>
            <td>{{ item.report_date }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.data_type }}</td>
            <td align="center">{{ item.value }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p padding="10"> No data for CO0002. </p>
{% endif %}

{% if query_results_c3 %}
    <table>
        <tr>
            <th><strong>Report_date</strong></th>
            <th><strong>Location</strong></th>
            <th><strong>Data_type</strong></th>
            <th><strong>Value</strong></th>
        </tr>
        {% for item in query_results_c3 %}
        <tr>
            <td>{{ item.report_date }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.data_type }}</td>
            <td align="center">{{ item.value }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p padding="10"> No data for CO0003. </p>
{% endif %}

{% if tabledata %}
    <table>
        <tr>
            <th><strong>Report_date</strong></th>
            <th><strong>CO0001</strong></th>
            <th><strong>CO0002</strong></th>
            <th><strong>CO0003</strong></th>
        </tr>
        {% for item in tabledata %}
        <tr>
            <td>{{ item.dates }}</td>
            <td>{{ item.valuec1 }}</td>
            <td>{{ item.valuec2 }}</td>
            <td>{{ item.valuec3 }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p padding="10"> No data for table. </p>
{% endif %}

<p padding="10"><a href="/data_browser/chart/{{ location_url}}/">Click to see the chart!</a></p>