{% extends 'base.html' %}

{% block main_content %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Model Name</th>
                        <th>Date Uploaded</th>
                        <th>Upload Complete</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sim in object_list %}
                        <tr>
                            <td> {{ sim.id }} </td>
{#                            <td class="col-md-3"> {{ sim.name }}</td>#}
                            <td class="col-md-3">
                                {% if sim.is_uploaded %}
                                    <a href="{% url 'home.mapview' model_id=sim.sim_model.id sim_id=sim.id %}">
                                        {{ sim.sim_model.model_name }}
                                    </a>
                                {% else %}{% endif %}
                            </td>
{#                            <td class="col-md-3">{{ sim.date_output_generated }}</td>#}
                            <td class="col-md-3">{{ sim.creation_timestamp }}</td>
                            <td>
                                {% if sim.is_uploaded %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        <td class="col-md-3">
                            {% if user.is_superuser and user.is_staff %}
                                <a href="{% url 'admin:home_simulation_change' sim.id %}" class="btn btn-success">Edit</a>
                                <a href="{% url 'simulation.delete' simulation_id=sim.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

