{% load staticfiles %}
{% block extra_js %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="{% static 'HighCharts/stock/highstock.js' %}"></script>
    <script type="text/javascript" src="{% static 'HighCharts/js/highcharts-more.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#chart').highcharts({
                title: {
                    text: '{{ simulation.name }}'
                },
                subtitle: {
                    text: 'Colombia'
                },
                xAxis: {
                    type: 'datetime',
                    plotLines: [{
                        color: 'red', // Color value
                        dashStyle: 'solid', // Style of the plot line. Default to solid
                        value: {{ sim_generated_date_ms }},// date where the line will appear converted it to milliseconds
                        width: 2 // Width of the line
                    }]
                },

                yAxis: {
                    title: {
                        text: 'Number of Zika cases'
                    },
                    min: 0
                },

                tooltip: {
                    crosshairs: true,
                    shared: true,
                    valueSuffix: ''
                },

                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                navigator: {
                    enabled: true,
                    series: {
                        color: '#434348',
                        lineWidth: 2
                    }
                },
                series: [{
                    name: 'Cases',
                    data: [
                        {% for value in simulation_mids %}{{ value }}{% if not forloop.last %}, {% endif %} {% endfor %},
                    ],
                    zIndex: 2,
                    showInNavigator: false
                }, {
                    name: 'Range',
                    data: [
                        {% for value in simulation_range %}{{ value }}{% if not forloop.last %}, {% endif %} {% endfor %}
                    ],
                    type: 'arearange',
                    lineWidth: 0,
                    linkedTo: ':previous',
                    color: Highcharts.getOptions().colors[0],
                    fillOpacity: 0.3,
                    zIndex: 0
                }, {
                    name: 'Historical Cases',
                    data: [
                        {% for value in historical_data %} {{ value }} {% if not forloop.last %},{% endif %} {% endfor %}
                    ],
                    zIndex: 1,
                    showInNavigator: true,
                    color: '#434348'
                }]
            })
        });
    </script>
{% endblock %}

{% block main_content %}
    <div id="chart" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
{% endblock %}