{% extends 'base.html' %}
{% load staticfiles bootstrap3 analytics_tags %}
{% block main_content %}
    <div class="container">
      <div class="row">
	<div class="col-sm-8">
          <p class="emphasis">The VecNet Zika Portal project is developing new modeling tools and data on mosquito locations that will be used to improve Zika transmission forecasting.</p>
<p>The assessment of infectious disease forecasts is critical for improving predications and translating the results from the models into accurate public health strategies. This project will provide estimates of mosquito density across the Americas for Aedes aegypti, the primary mosquito that transmits Zika. The project also will update human population data for detailed predictions about Zika-associated microcephaly. This information may be used by policymakers for decisions concerning resource allocation to improve public health. Results from this project will be relevant to the Zika public health emergency, and at this site we will share quality-assured interim and final data as rapidly and widely as possible, including with public health and research communities.</p>
          <div class="nsf-fine-print">
            <img class="nsf-logo" src="{% static 'img/nsf1.gif' %}" alt="NSF Logo" width="35" />
            The material presented at this web site is based in part upon work supported by the National Science Foundation, DEB, under <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1641130" target="_blank">Award #1641130</a>. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
          </div>
	</div>
	<div class="col-sm-4">
          <div class="well">
            <p class="emphasis">Explore the results of Zika virus transmission simulations created with a variety of different models, and compare to historical case data.</p>
            <p class="emphasis" style="margin-bottom: 20px">Begin by browsing models and simulations in list form, or go straight to the map dashboard.</p>
            <a href="{% url 'home.list_view' %}" type="button" class="btn btn-primary btn-lg btn-block">List View</a>
            <a href="{% url 'home.mapview' %}" type="button" class="btn btn-primary btn-lg btn-block">Map View</a>
          </div>
	</div>
      </div> <!-- row -->
    </div>
{% endblock main_content %}
