{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block main_content %}
    <div class="container">
    <a href="{% url 'simulation.list' %}">Browse Map</a> |
    <a href="{% url "simulation.upload" %}">Upload Simulation</a>

    <h1 class="text-center"> Using mathematical models to fight the Zika virus </h1>
    <p class="lead text-justify">
    New research from the University of Notre Dame will be used to generate maps that provide time-sensitive estimates of mosquito densities, human birth rates and Zika transmission activity across Latin America and the Caribbean. The model outputs will be available online to provide users with the ability to find reported cases and estimated incidences by location to improve disease transmission and prevalence forecasts, which is critical to making accurate predictions and translating results into effective public health strategies.
    </p>
    <p class="lead text-justify">
    The study is being conducted by Alex Perkins, Eck Family Assistant Professor of Biological Sciences and Eck Institute for Global Health affiliated faculty member, who received a rapid response grant (RAPID) from the National Science Foundation’s (NSF) Division of Environmental Biology’s Ecology and Evolution of Infectious Diseases Program for his research proposal that focuses on enabling estimation and forecasting of Zika virus transmission. NSF created these RAPID awards in order to specifically understand the rate of spread, number of infected people and the likely persistence of Zika as a public health threat, and to help prepare for the next outbreak.
    </p>
    <p class="lead text-justify">
        Results from the project will benefit the Zika public health emergency response, as researchers will have tools in place to share quality data and forecasts both during the study and after the project concludes. This will be a valuable asset for policymakers as they continue to make decisions surrounding this disease.
    </p>
    </div>
{% endblock %}