{% extends 'base.html' %}
{% block main_content %}
<html>
<head>
<title>Natural Earth - Javascript Shapefile and DBF Loader</title>
<script type="text/javascript" src="/static/lib/binaryajax.js"></script>
<script type="text/javascript" src="/static/src/binarywrapper.js"></script>
<script type="text/javascript" src="/static/src/shapefile.js"></script>
<script type="text/javascript" src="/static/src/dbf.js"></script>
<script type="text/javascript" src="/static/src/ol_shapefile.js"></script>
<script type="text/javascript" src="/static/lib/OpenLayers/OpenLayers.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/ol_simple.js"></script>

<!--[if IE]><script src="lib/excanvas.js"></script><![endif]-->
<style type="text/css">
body {
  background-color: #eee;
  color: #000;
  font: 12px sans-serif;
  margin: 20px;
}
#map {
  width: 1024px;
  height: 512px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #9dc3e0;
}
a img {
  border: 0;
}
</style>
</head>
<body>
<a href="{% url 'index' %}">Home</a>
<h2>1123 municipalities display using shape files</h2>
<div id="map" ></div>

</body>
</html>
{% endblock %}