{% extends 'base.html' %}

{% block main_content %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Simulation Name</th>
                        <th>Model Name</th>
                        <th>Date Generated</th>
                        <th>Date Uploaded</th>
                        <th>Uploaded?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sim in simulation_model_list %}
                        <tr>
                            <td> {{ sim.simulation_id }} </td>
                            <td class="col-md-3"> {{ sim.simulation_name }}</td>
                            <td class="col-md-3">
                                {% if sim.is_uploaded %}
                                    <a href="{% url 'home.mapview' model_id=sim.simulation_model.id sim_id=sim.simulation_id %}">
                                        {{ sim.simulation_model }}
                                    </a>
                                {% else %}{% endif %}
                            </td>
                            <td class="col-md-3">{{ sim.generated_date }}</td>
                            <td>{{ sim.create_time }}</td>
                            <td>
                                {% if sim.is_uploaded %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

