{% extends 'base.html' %}

{% block extra_css %}
    <style type="text/css">
    th, td{
        padding: 7px 10px 10px 10px;
    }
    th{
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 90%;
        border-bottom: 2px solid #111111;
        border-top: 1px solid #999;
        text-align: left;
    }
    </style>
{% endblock %}

{% block main_content %}
    <table>
        <th>Simulation_id</th>
        <th>Model_name</th>
        {% for id, model_name in simulationlist.iteritems %}
            <tr>
                <td> {{ id }} </td>
                <td><a href="{% url 'home.dropdown' sim_id=id %}">{{ model_name }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <p> ===== </p>

    <table>
        <tr>
            {% for test in tests %}
                <th>{{ test }}</th>
            {% endfor %}
        </tr>

    {% for row in simulationlist2 %}
        <tr>
            {% for val in row %}
                {% if forloop.first %}
                    <td><a href="{% url 'home.dropdown' sim_id=val %}"> {{ val }} </a></td>
                {% else %}
                    <td>{{ val }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <p> ===== </p>

{% endblock %}

