{% extends 'base.html' %}

{% block main_content %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover" style="width: 50%">
                <thead>
                    <tr>
                        <th>Simulation ID</th>
                        <th>Model Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, model_name in simulation_model_list.items %}
                        <tr>
                            <td> {{ id }} </td>
                            <td><a href="{% url 'home.dropdown' sim_id=id %}">{{ model_name }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

