<html>
<head>
<title>Natural Earth - Javascript Shapefile and DBF Loader</title>
<script type="text/javascript" src="/static/lib/binaryajax.js"></script>
<script type="text/javascript" src="/static/src/binarywrapper.js"></script>
<script type="text/javascript" src="/static/src/shapefile.js"></script>
<script type="text/javascript" src="/static/src/dbf.js"></script>
<script type="text/javascript" src="/static/src/map.js"></script>
<script type="text/javascript" src="/static/src/layer.js"></script>
<!--[if IE]><script src="lib/excanvas.js"></script><![endif]-->
<script type="text/javascript">

window.onload = function() {

  var map = new Map('map', [

      //new Layer('/static/naturalearthdata/cultural/110m-admin-0-countries', { fillStyle: '#fadfa8', strokeStyle: '#5c3d1f', lineWidth: '0.5' }),
      new Layer('/static/colombia_admin3/colombia_admin3', { fillStyle: 'darkgray', strokeStyle: 'white', lineWidth: '0.5'}),
      //new Layer('/static/naturalearthdata/cultural/110m-admin-1-states-provinces-lines-shp', { fillStyle: '#800000', /*textHalo: '3', textStroke: 'white',*/
          //textFill: 'rgba(0,0,0,1)', textProp: 'Name_Town', font: 'bold 11px sans-serif' })
      //new Layer('/static/colombia_admin3/colombia_admin3', { fillStyle: '#800000', textHalo: '3', textStroke: 'white',
          //textFill: 'rgba(0,0,0,1)', textProp: 'Name_Town', font: 'bold 11px sans-serif' })
  ]);

}

</script>
<style type="text/css">
body {
    background-color: #eee;
    color: #000;
    font: 12px sans-serif;
    margin: 20px;
}
#map {
    width: 100%;
    height: 100%;
    border: 1px;
    background-color: transparent;
}
canvas {
    margin: 0;
    padding: 0;
}
a img {
    border: 0;
}
</style>
</head>

<body>
    <h1>Colombia Zika forecast</h1>
    <p>This is an experimental javascript shapefile viewer. For no reason in particular it doesn't really work in IE, sorry.
    Elsewhere, uninformative errors may appear in the dark crevices of your browser.</p>

    <h2>colombia_admin3 (1 layer)</h2>
    <div id="map"></div>
    </body>
</html>